* {
	font-family: 'Quicksand', sans-serif;
}

#banner {
	width: 100%;
	height: 100vh;
	background-image: url(../img/backgrounds/landing.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 40px;
}

#banner .row {
	text-align: center;
}

#banner .row p {
	color: #fff;
	font-size: 2em;
}

.btn-danger {
	background-color: #fff;
	color: red;
	padding: 10px;
	border: red 1px solid;
}

#fast-food {
	width: 90%;
	margin-right: auto;
	margin-left: auto;
	padding: 40px;
	margin-bottom: 40px;
}

#img{
	border: 10px solid #fff;
	box-shadow: 2px 2px 2px 2px #888888;
}

#img img{
	width: 100%;
}

#drinks {
	width: 90%;
	margin-right: auto;
	margin-left: auto;
	padding: 40px;
	margin-bottom: 40px;
}

#drinks-img img {
	width: 100%;
}

#drinks-img {
	display: flex;
	flex-direction: row;
}

#drinks-img{
	border: 10px solid #fff;
	box-shadow: 2px 2px 2px 2px #888888;
}

#foodbg {
	height: 599px;
	width: 100%;
	background-image: url(../img/backgrounds/foodsBg.jpg);
	margin-bottom: 40px;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

#customers {
	box-shadow: 1px 1px 1px 1px #888888;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-bottom: 40px;
	padding: 20px;
}
  
#customers h3 {
	color: #F15A29;
}

#customers ul {
	list-style-type: none;	
}

#customers ul li{
	display: inline-block;	
	margin-left: 20px;
}

#customers ul li span {
	color: #F15A29;
	font-size: 1.4em;
}

#subscribe {
	width: 100%;
	height: 301px;
	background-image: url(../img/backgrounds/subscribe.jpg);
	display: flex;
	justify-content: center;
}

#subscribe .btn-danger {
	background-color: red;
	color: #fff;
}

#subscribe form {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

#subscirbe form input[type=email] {
	margin-left: 20px;
}

